.container {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--background-colors-black);
  box-sizing: border-box;
  padding: 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 15px;
    gap: 10px;
  }
}
