.container {
  background-color: inherit;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--contextual-colors-white);
  cursor: pointer;
  position: relative;
  Button {
    fill: var(--contextual-colors-light);
  }

  &:hover {
    .initials {
      background: var(--system-colors-primary-2);
      fill: var(--system-colors-primary-2);
    }
    Button {
      fill: var(--contextual-colors-white);
    }
  }
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: var(--system-colors-primary);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  fill: var(--system-colors-primary);
  color: var(--button-text-white);
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.userActionsContainer {
  min-width: 230px;
  height: 112px;
  background-color: var(--background-colors-graphite);
  border-radius: 10px;
  position: absolute;
  top: 83%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
  z-index: 2;

  &[data-open='true'] {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  Button {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    padding-left: 15px;

    &:hover {
      color: var(--system-colors-primary);
    }

    &:first-child {
      border-bottom: 1px solid var(--background-colors-dark);
      border-radius: 10px 10px 0px 0px;
    }
  }
}
