.container {
  --max-content-width: 1120px;
  min-height: 100vh;
  min-height: 100dvh;

  header {
    position: fixed;
    top: 0px;
    left: 0px;
  }

  aside {
    position: fixed;
    left: 0;
    top: 0;
  }

  main {
    margin-top: 140px;
    box-sizing: border-box;
    padding-left: 250px;
    padding-right: 62px;
    width: 100%;
  }
}
