.container {
  --max-content-width: 1920px;
  min-height: 100vh;
  min-height: 100dvh;
}

.contentAndMenuWrap {
  margin-top: 56px;
  display: flex;

  main {
    max-width: var(--max-content-width);
    width: 100%;
  }
}
