.container {
  label {
    font-weight: 600;
    line-height: 24px;
    display: block;
    margin-bottom: 8px;
  }

  input {
    appearance: none;
    display: block;
    font-family: 'Exo 2';
    line-height: 24px;
    padding: 16px 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    background: var(--background-colors-graphite);
    color: var(--contextual-colors-white);
    box-sizing: border-box;

    &::placeholder {
      color: var(--system-colors-secondary);
    }

    &:focus {
      outline: 2px solid var(--system-colors-primary);
    }

    &[data-valid='false'] {
      border: solid var(--contextual-colors-error);
      outline: none;
    }
  }
}

.error {
  color: var(--contextual-colors-error);
}
