.container {
  height: 100vh;
  height: 100dvh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--system-colors-secondary);
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 166px;
  background-color: var(--background-colors-black);
  position: absolute;
  right: 0;
  top: 136px;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  overflow: auto;
  z-index: 2;

  &[data-open='true'] {
    transform: translateX(0);
  }

  p {
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    margin: 0px;
  }
}

.linksWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;

  a {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--system-colors-secondary);
    fill: currentColor;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    &:hover {
      color: var(--system-colors-primary);
    }
  }
}

.menuButton {
  min-width: 56px;
  height: 56px;
  fill: var(--button-text-white);
}
